@-webkit-keyframes echo {
    0% {
        padding: 0;
        margin: 0;
        opacity: 1;
    }

    100% {
        padding: 50px;
        margin: -50px;
        opacity: 0;
    }
}

@keyframes echo {
    0% {
        padding: 0;
        margin: 0;
        opacity: 1;
    }

    100% {
        padding: 50px;
        margin: -50px;
        opacity: 0;
    }
}

.waves:hover {
    cursor: pointer;
}
.waves {
    display: block;
    padding: 50px;
    text-align: center;
}

.wave {
    position: absolute;
    border: 2px solid #363636;
    border-radius: 50%;
    display: inline-block;
    padding: 0;

    animation-name: echo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

    -webkit-animation-name: echo;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
}

.wave:nth-of-type(2) {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.wave:nth-of-type(3) {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}